.myContainer {
  background: rgb(132, 132, 222) !important;
}

.App {
  margin: 100px 500px;
}

.pointer {
  cursor: pointer;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

h1{
  text-align: center;
 color: rgb(234, 237, 240);
}